@import url('https://fonts.googleapis.com/css?family=Simonetta&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

:root {
    --color-primary:#265FC2;
    --color-second: #63788F;
    --color-third: #48F4F5;
    --color-fourth: #F69E85;
    --color-fifth: #C23125;
    --color-base: #fff;
    --color-text: #000;
    --color-black: rgba(0, 0, 0, 0.4);
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Simonetta', cursive, sans-serif;
    background-color: var(--color-base);
    color: #000;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

header
{
    position: absolute;
    left: 0px;
    right: 0px;
    border-bottom: 2px solid var(--color-second);
    padding: 0px 15px;
    z-index: 100;
    width: 100%;
}
header.fixed
{
    background-color: var(--color-base);
    position: fixed;
    border-color: var(--color-second);
    animation: fixHeader .5s ease;
    z-index: 11;
}

@keyframes fixHeader {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.container
{
    max-width: 1140px;
    margin: auto;
}
.row
{
    display: flex;
    flex-wrap: wrap;
}
.section-title
{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px;
}
.section-title h1
{
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0  0 10px;
    color: var(--color-primary);
    position: relative;
}
.section-title h1:before
{
    content: '';
    left: 0;
    height: 2px;
    right: 30%;
    background-color: var(--color-fifth);
    bottom: 0px;
    position: absolute;
}
.text-center
{
    text-align: center!important;
}
.text-left
{
    text-align: left!important;
}
.text-right
{
    text-align: right!important;
}
header .row
{
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
}
header .brand-name a
{
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    color: var(--color-fifth);
    text-transform: uppercase;
    position: relative;
}
header.fixed .brand-name a
{
    color: var(--color-primary);
}
header .navbar {
    float: inline-end;
}
header .navbar ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}
header .navbar ul li
{
    display: inline-block;
    margin-left: 30px;
}
header .navbar ul li a
{
    font-size: 20px;
    text-decoration: none;
    line-height: 72px;
    color: var(--color-base);
    display: flex;
    font-weight: 600;
    position: relative;
}
header.fixed .navbar ul li a
{
    color: var(--color-primary);
    display: block;
    text-align: center;
}
header .navbar ul li a:before
{
    content: '';
    height: 3px;
    background-color: var(--color-fifth);
    width: 0%;
    position: absolute;
    right: 0px;
    bottom: -1px;
    transition: all .5s ease;
}
header.fixed .navbar ul li a:before
{
    background-color: var(--color-fifth);
}
header .navbar ul li a:hover:before
{
    width: 100%;
    left: 0;
}
header .navbar ul li a.active:before
{
    width: 100%;
    left: 0;
}

.home {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    z-index: -1;
}

.home::before {
    content: '';
    background: url("https://cdn.pixabay.com/photo/2015/05/29/19/17/study-789631_960_720.jpg") no-repeat center/cover;
    position: absolute;
    opacity: 0.2;
    padding: 15px;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}
.home .full-screen
{
    min-height: 100vh;
}
.home .home-content
{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.home .home-content .block
{
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 35px;
    border-left: 5px solid var(--color-base);
    margin-top: 50px;
    z-index: 1;
}
.home .home-content .block p
{
    color: var(--color-base);
    font-size: 23px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    line-height: 1.3;
}
.home .home-content .block h1
{
    color: var(--color-primary);
    font-size: 70px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
.home .home-content .block h2
{
    color: var(--color-base);
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.cv_link
{
    padding-top: 20px;
}
.cv_link a {
    border-radius: 4px;
    border: 1px solid var(--color-base);
    color: var(--color-base);
    padding: 12px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s ease;
    background-color: transparent;
    cursor: pointer;
}
 .cv_link a:hover,
 .cv_link a:focus,
 .cv_link a:active {
    background-color: var(--color-fifth);
    color: var(--color-text);
    border: 1px solid var(--color-fifth);
    outline: var(--color-fourth) 2px solid;
}

.about-me
{
    padding: 100px 15px;
    background-color: var(--color-base);
}
.about-me .section-title h1:before
{
    left: 30%;
}
.about-me .section-title p.small
{
    display: block;
    font-size: 14px;
    color: var(--color-fifth);
    font-weight: 400;
    letter-spacing: 2px;
}
.text-uppercase
{
    text-transform: uppercase!important;
}
.about_img {
    /* width: 100%; */
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    flex: 0 0 33.33%;
    max-width: 33.33%;
}
@media screen and (max-width: 960px) {
    .about_img {
        width: 250px;
        height: 300px;
        margin: 0 auto;
        flex: 100%;
        max-width: 100%;
    }
}
.about_img::before {
    content: '';
    background: url("https://i.pinimg.com/564x/9b/95/c0/9b95c03da125278ffd2268d12fd235f6.jpg") no-repeat center;
    position: relative;
    /* opacity: 0.5; */
    padding: 15px;
    display: block;
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}
/* .about-me .about-content .img
{
    flex: 0 0 33.33%;
    max-width: 33.33%;
} */
/* .about-me .about-content .img img
{
    width: 100%;
    display: block;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
} */
.about-me .about-content .text
{
    flex: 0 0 66.66%;
    max-width: 66.66%;
    padding-left: 30px;
}
.about-me .about-content .text h4
{
    font-size: 25px;
    font-weight: 600;
    margin: 0 0 5px;
    color: var(--color-text);
}
.about-me .about-content .text h6
{
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 15px;
    color: var(--color-text);
}
.about-me .about-content .text h6 span
{
    color: var(--color-fifth);
}
.about-me .about-content .text p
{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-second);
    margin: 0 0 20px;
}
.about-me .about-content .text .info
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about-me .about-content .text .info .list
{
    flex: 0 0 calc(50% - 15px);
    max-width: calc(50% - 15px);
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--color-fifth);
    padding-bottom: 10px;
}
@media screen and (max-width: 560px) {
    .about-me .about-content .text .info .list {
        max-width: 100%;
    }
}
.about-me .about-content .text .info .list label
{
    padding-right: 10px;
    color: var(--color-text);
    font-weight: 600;
    font-size: 15px;
}
.about-me .about-content .text .info .list p
{
    margin: 0;
}
.about-me .about-content .text .social-links
{
    padding-top: 30px;
}
.about-me .about-content .text .social-links a
{
    height: 30px;
    width: 30px;
    border-radius: 3px;
    display: inline-block;
    border: 1px solid var(--color-text);
    line-height: 28px;
    text-align: center;
    margin: 0 1px;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
}
.about-me .about-content .text .social-links a:hover
{
    background-color: transparent;
}
.about-me .about-content .text .social-links a .fab,
.about-me .about-content .text .social-links a .far
{
    color: var(--color-primary);
    font-size: 22px;
    margin: 5px auto;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
}
.about-me .about-content .text .social-links a:hover .fab,
.about-me .about-content .text .social-links a:hover .far
{
    color: var(--color-fifth);
}
.services {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #000;
}
.services::before {
    content: '';
    background-image: url("https://cdn.pixabay.com/photo/2015/05/29/19/17/study-789631_960_720.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    opacity: 0.5;
    padding: 100px 15px 70px;
    display: block;
    width: 100%;
    height: 100%;
    /* top: 0px; */
    /* left: 0px; */
    /* width: 100vw; */
    /* height: 100vh; */
    /* z-index: -1;*/
}
/* .services
{
    min-height: 100vh;
    background: url("https://cdn.pixabay.com/photo/2015/05/29/19/17/study-789631_960_720.jpg");
    background-size: cover;
    background-position: center;
    padding: 100px 15px 70px;
} */
.services .section-title h1:before
{
    left: 30%;
}
.services .service-content
{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.services .service-content .box
{
    background-color: var(--color-base);
    padding: 5px 10px;
    flex: 0 0 calc(33.33% - 15px);
    min-width: calc(33.33% - 15px);;
    margin-bottom: 30px;
    border: 1px solid var(--color-base);
    text-align: center;
    position: relative;
    border-radius: 5px;
}
.services .service-content .box::before
{
    content: '';
    height: 2px;
    background-color: var(--color-fifth);
    position: absolute;
    bottom: 0px;
    width: 50px;
    left: 0;
    right: 0;
    margin: auto;
    transition: all .5s ease;
}
.services .service-content .box:hover::before
{
    width: 100%;
}
.services .service-content .box .icon
{
    height: 40px;
    width: 40px;
    background-color: var(--color-primary);
    margin: 15px auto 20px;
    border-radius: 50%;
    text-align: center;
}
.services .service-content .box .icon .fa
{
    font-size: 20px;
    color: var(--color-base);
    line-height: 40px;
}
.services .service-content .box h5
{
    font-size: 16px;
    font-weight: 600;
    color: var(--color-text);
    margin: 0;
}
.services .service-content .box p
{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-text);
    margin: 10px 0 10px;
    text-align: start;
}
.skills
{
    padding: 100px 15px;
    background-color: whitesmoke;
}
.skills .skills-content
{
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 40px;
}
.skill_img {
    /* width: 100%; */
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    flex: 0 0 50%;
    max-width: 50%;
}
.skill_img::before {
    content: '';
    background: url("https://i.pinimg.com/564x/9b/95/c0/9b95c03da125278ffd2268d12fd235f6.jpg") no-repeat center;
    position: absolute;
    opacity: 0.5;
    padding: 15px;
    display: block;
    width: 100%;
    height: 100%;
    /* top: 0px; */
    /* left: 0px; */
    /* width: 100vw; */
    /* height: 100vh; */
    /* z-index: -1;*/
}
@media screen and (max-width: 960px) {
    .skill_img {
        display: none;
    }
    
}
/* .skills .img
{
    flex: 0 0 50%;
    max-width: 50%;
} */
/* .skills .img img
{
    width: 100%;
    display: block;
} */
.align-items-center
{
    align-items: center;
}
.skills .skills-content .section-title p
{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-text);
    margin: 15px 0 0;
}
.skills .skills-content .skill-box
{
    flex: 0 0 100%; 
    max-width: 100%;
    margin-bottom: 15px;
}
.skills .skills-content .skill-box h6
{
    font-size: 16px;
    font-weight: 500;
    color: var(--color-text);
    margin: 0;
}
.skills .skills-content .skill-box .skill-bar
{
    height:5px;
    position: relative;
    background-color: whitesmoke;
}
.skills .skills-content .skill-box .skill-bar .skill-bar-in
{
    background-color: var(--color-fourth);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}
.skills .skills-content .skill-box .skill-bar .skill-bar-in span
{
    color: var(--color-text);
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    right: 0;
    top: -25px;
}
.portfolio
{
    background: whitesmoke;
    padding: 100px 7px;
}
.portfolio .section-title h1:before
{
    left: 30%;
}
.portfolio .filter-buttons
{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 25px;
}
.portfolio .filter-buttons .filter-btns
{
    list-style: none;
    text-align: center;
    padding: 0;
}
.portfolio .filter-buttons .filter-btns .btn
{
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
    margin: 0 8px;
    text-transform: uppercase;
    cursor: pointer;
    padding-bottom: 0px;
}
.portfolio .filter-buttons .filter-btns .btn.active
{
    color: var(--color-text);
    border-bottom: 2px solid var(--color-fourth);
}
.portfolio .portfolio-gallery
{
   flex: 0 0 100%;
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
}
.portfolio .portfolio-gallery .item
{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    position: relative;
    padding: 8px;
}
.portfolio .portfolio-gallery .item .inner
{
    position: relative;
}
.portfolio .portfolio-gallery .item img
{
    width: 100%;
    display: block;
}
.portfolio .portfolio-gallery .item .overlay
{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 10;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all .5s ease;
}
.portfolio .portfolio-gallery .item:hover .overlay
{
    opacity: 1;
}
.portfolio .portfolio-gallery .item .overlay .fa
{
    height: 50px;
    width: 50px;
    background-color: var(--color-fifth);
    color: whitesmoke;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer; 
}
.portfolio .portfolio-gallery .item .overlay .fa:focus,
.portfolio .portfolio-gallery .item .overlay .fa:hover,
.portfolio .portfolio-gallery .item .overlay .fa:active {
    background-color: var(--color-fifth);
    outline: var(--color-text) 2px solid;
    outline-offset: var(--color-fifth) 2px solid;
}
.portfolio .portfolio-gallery .item:hover .overlay .fa
{
    -webkit-animation: galleryIcon .8s ease;
    animation: galleryIcon .8s ease;
}
.show {
    display: block;
  }
@keyframes galleryIcon
{
    0%
    {
        transform: translateY(-20px);
        opacity: 0;
    }
    100%
    {
        transform: translateY(0);
        opacity: 1;
    }
}
.portfolio .portfolio-gallery .item .overlay h4
{
    margin-top: 15px;
    color: var(--color-text);
    background-color: var(--color-base);
    font-size: 20px;
    font-weight: 600;
}
.portfolio .portfolio-gallery .item:hover .overlay h4
{
    -webkit-animation: galleryText .8s ease;
    animation: galleryText .8s ease;
}
@keyframes galleryText
{
    0%
    {
        transform: translateY(20px);
        opacity: 0;
    }
    100%
    {
        transform: translateY(0);
        opacity: 1;
    }
}
.lightbox
{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
}
.lightbox.show
{
    display: flex;
}
.lightbox.hide
{
    display: none;
}
.lightbox .close-lightbox
{
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 101;
    background-color: #d8ad76;
    color: var(--color-text);
}
.lightbox img
{
    max-width: 90%;
    max-height: 80%;
    display: block;
}
.message-text
{
    background-color: var(--color-text);
    color: var(--color-base);
    padding: 40px 15px;
}
.message-text .text
{
    flex: 0 0 66.66%;
    max-width: 66.66%;
}
.message-text .text h2
{
    font-size: 25px;
    color: whitesmoke;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 35px;
}
.message-text .button
{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    text-align: right;
}
.message-text .button a
{
    border-radius: 4px;
    border: 1px solid whitesmoke;
    color: whitesmoke;
    padding: 12px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s ease;
    background-color: transparent;
}
.testimonials
{
    padding: 100px 0px 50px;
    /* height: 90vh; */
    background: url("https://cdn.pixabay.com/photo/2015/05/29/19/17/study-789631_960_720.jpg");
    background-size: cover;
    background-position: center;
}
.testimonials .section-title h1:before 
{
    left: 30%;
}
.testimonials .slide .img img
{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.testimonials .testimonials-content
{
    position: relative;
    overflow: hidden;
    flex: 0 0 100%;
    max-width: 100%;
}
.testimonials .testimonials-content .testi-slider .slide
{
    background-color: whitesmoke;
    margin-bottom: 15px;
    border: 3px solid slategray;
    padding: 30px 10px;
    border-radius: 4px;
    display: flex;
    flex-wrap: nowrap;
    float: left;
    width: 100%;
    height: 300px;
}
.testimonials .testimonials-content .testi-slider
{
    float: left;
    transition: margin 1s ease;
}
.testimonials .testimonials-content .testi-slider .slide .img
{
    flex: 0 0 128px;
    max-width: 128px;
}
.testimonials .testimonials-content .testi-slider .slide p
{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-text);
    margin: 0;
}
.testimonials .testimonials-content .testi-slider .slide h6
{
    font-size: 16px;
    font-weight: 600;
    color: var(--color-text);
    margin: 10px 0 5px;
}
.testimonials .testimonials-content .slide-controls
{
    width: 100%;
    text-align: center;
}
.testimonials .testimonials-content .slide-controls div
{
    height: 15px;
    width: 15px;
    background-color: whitesmoke;
    border-radius: 50%;
    border: 1px solid var(--color-text);
    display: inline-block;
    margin: 10px 6px;
    cursor: pointer;
}
.testimonials .testimonials-content .slide-controls div.active
{
    background-color: var(--color-text);
}

/*contact section*/
.contact-us
{
    padding: 100px 15px;
    background-color: var(--color-base);
}
.contact-us .section-title h1:before
{
    left: 30%;
}
.contact-us .contact-form
{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 50px;
    border: 1px solid var(--color-second);
    border-radius: 4px;
}
.contact-us .contact-form .text
{
    flex: 0 0 100%;
    max-width: 100%;
    padding-bottom: 20px;
}
.contact-us .contact-form .text h2
{
    font-size: 26px;
    font-weight: 600;
    color: var(--color-text);
    margin: 0;
    padding: 0;
}
.contact-us .contact-form .text p
{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-primary);
    margin: 0;
}
.contact-us .contact-form .space-between
{
    justify-content: space-between;
}
.contact-us .contact-form .col-6
{
    flex: 0 0 calc(50% - 15px);
    max-width: calc(50% - 15px);
}
.contact-us .contact-form .col-12
{
    flex: 0 0 100%;
    max-width: 100%;
}
.contact-us .contact-form .form-control
{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid var(--color-second);
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
}
.contact-us .contact-form textarea.form-control
{
    height: 140px;
}
.contact-us .contact-form .form-control::placeholder
{
    color: var(--color-second);
}

footer
{
    background-color: var(--color-text);
    padding: 70px 15px;
}
footer .logo
{
    color: whitesmoke;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    font-size: 45px;
    font-weight: 900;
}
footer .social
{
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    padding-top: 10px;
}
footer .social a
{
    color: var(--color-base);
    text-decoration: none;
    display: inline-block;
    margin: 0px 12px;
    transition: all .5s ease;
    font-size: 20px;
}
footer .social a:hover
{
    color: var(--color-fifth);
}
.copyright
{
    background-color: var(--color-second);
    border-top: 2px solid var(--color-fifth);
    padding: 15px;
}
.copyright p
{
    color: var(--color-text);
    margin: 0;
    text-align: center;
    font-weight: 400;
    font-size: 11px;
}
.ham-burger .fa
{
    font-size: 20px;
    height: 30px;
    width: 35px;
    background-color: var(--color-base);
    color: var(--color-primary);
    border-radius: 3px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    display: none;
    border: 1px solid var(--color-fifth);
}